header {
    display:block; 
    text-align:left; 
   
   
} 

h1 {
    border: solid; 
    border-bottom-color: grey;
    border-top-color: white;
    border-left-color: white; 
    border-right-color: white;
}

ul {
    list-style: none; 
}  



