body {
    background-color: beige;
    ; 
}

.my-links{
    text-shadow: 2px 2px #ffc400;
    color:black; 
}

/* Will need to float text left
.pictures , text {
    
    float: left;
    margin-right: 30px;
    margin-top: 100px;
}
*/
#site-name{
    text-shadow: 2px 2px yellow;
}

h1 {
    border: solid; 
    border-bottom-width: 50px;
    border-top-color: white;
    border-left-color: white; 
    border-right-color: white;
    background-color:white;
     colorr:black;
     text-align:center;
}



li {
    list-style-type: none;
    display: inline;
    margin-left: 150px; 
} 

#quiz{
    float:wra;
}